body{
  font-family:'Courier New', Courier, monospace
}
.table{
  font-family:'Courier New', Courier, monospace
}

.card{

  transition: all 0.2s ease;
  cursor: pointer;
  

}
  
.card:hover{

  box-shadow: 5px 6px 6px 2px #424242;
  transform: scale(1.1);
}
